*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(./festajunina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    width: 100%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.convite h1{
<<<<<<< HEAD
    width: 100%;
    text-align: right;
    padding-right: 1rem;
    font-size: 1.4rem;
=======
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-top: 45%;
    width: 50%;
    float: right;
    font-size: 4rem;
    text-shadow: 5px 5px 20px rgb(10, 10, 10);
    transition: 1s all;
}

.convite h1:hover{
    text-shadow: 1px 1px 20px rgb(242, 33, 33);
    transform: scale(1.2);
>>>>>>> 0026ac2c84244efd6b2ae7d59ac619acab65a651
}

.convite h2{
    width: 100%;
    text-align: right;
    padding-right: .5rem;
    font-size: .8rem;
}

main{
    width: 100%;
    height: 25rem;
}

#arrow{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

#animation{
   transition: 300ms;
   animation-name: piscar;
   animation-duration: 1s;
   animation-timing-function: steps(3, start) ;
   animation-delay: 1s;
   animation-iteration-count: infinite; 
}

@keyframes piscar{
    to{
        visibility: hidden;
    }
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important;
}

#about p{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

strong{
    color: red;
}

footer{
    text-align: center;
    width: 100%;
    color: white;
    font-size: .8rem;
    margin-top: 2rem;
}

<<<<<<< HEAD
@media screen and (min-width: 780px) {
    body{
        background-position: top;
        height: 300vh;
=======
@media(max-width: 768px){

    .convite h1, .convite h2, #arrow, #about p{
        font-size: 2rem;
    }
    footer{
        font-size: 20px;
        margin-top: 20%;
    }
}

@media(max-width: 425px){

    .convite h1, .convite h2, #arrow, #about p{
        font-size: 1.2rem;
    }
    footer{
        font-size: 10px;
        margin-top: 10%;
    }
}

@media(max-width: 375px){

    .convite h1, .convite h2, #arrow, #about p{
        font-size: 1rem;
    }
    footer{
        font-size: 10px;
        margin-top: 15%;
    }
}

@media(max-width: 320px){

    .convite h1, .convite h2, #arrow, #about p{
        font-size: 0.9rem;
>>>>>>> 0026ac2c84244efd6b2ae7d59ac619acab65a651
    }
    
    header{
        height: 36rem;
    }

    .convite h1{
        padding-right: 9rem;
        font-size: 4rem;
    }

    .convite h2{
        padding-right: 9rem;
        font-size: 2rem;
    }

    main{
        height: 70rem;
    }

    #arrow{
        font-size: 2.5rem;
    }

    #about p{
        width: 60%;
        line-height: 5rem;
        font-size: 3rem;
    }

    footer{
        font-size: 1rem;
        margin-top: 5rem;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 0026ac2c84244efd6b2ae7d59ac619acab65a651
